
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    /*
    --cor-texto: #2C3639;
    --cor-fundo-topico: #A27B5C;
    --cor-background: #DCD7C9;
    */
    --cor-texto: #222a2c;
    --cor-fundo-topico: #A27B5C;
    --cor-background: #e6e3db;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    /*
    background-color: #2C3639;
    */
    background-color: var(--cor-background);
    margin: 0;
    padding: 0;
}

.cabecalho nav{
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
    display: flex;
    gap: 7.5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-topico);
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho h1{
    padding: 4px 10px;
    font-size: 30px;
    text-align: center;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-topico);
    border-radius: 3px;
    border: 3px solid #e6e3db;
}

.nav__texto__logo{
    margin: 0;
    padding: 0;
    text-decoration: none;
    z-index: 1;
}

.cabecalho img{
    width: 80px;
    height: 80px;
    z-index: 0;
    position: absolute;
}


.corpo{
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
}

.corpo__intro{
    text-align: justify;
}


.corpo__intro p{
    margin: 30px 20px 10px 20px;
    font-size: 21.5px;

}

.corpo__intro .texto__2{
    margin: 10px 20px 10px 20px;
}

.corpo__intro h2{
    margin: 30px 20px 10px 20px;
    font-size: 26px;
}

.corpo__intro li{
    margin: 10px 20px 0 30px;
    padding: 3px 0;
    font-size: 20px;
    list-style-type: decimal;
}

.corpo__intro a{
    color: var(--cor-texto);
    font-weight: 600;
    text-decoration: none;
    text-decoration-line: underline;
}

.conteudo__secao h2{
    background-color: var(--cor-fundo-topico);
    font-weight: 600;
    margin: 0 7.5px 0 7.5px;
    padding: 4px 0;
    text-align: center;
    border-radius: 15px;
    font-size: 26px;
}

.conteudo__secao h3{
    margin: 20px 20px 0 20px;
    font-size: 24px;
}

.conteudo__secao li{
    padding: 3px 0;
    margin: 10px 20px 0 30px;
    font-size: 20px;
    text-align: left;
    list-style-type: square;
}

.conteudo__secao a{
    color: var(--cor-texto);
    text-decoration: none;
    text-decoration-line: underline;
    font-weight: 600;
}

.rodape{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-fundo-topico);
}